/* Float four columns side by side */
.column {
    /* float: left; */
    width: 100%;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 15px 10px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      /* text-align: center; */
      /* background-color: #f1f1f1; */
      /* border: 1px solid #ddd; */
      border-radius:4px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    /* background-color: #f1f1f1; */
    /* border: 1px solid #ddd; */
    border-radius:8px;
    background-color: #2d313a;

  }

  .mb-0 {
    margin-bottom: 0;
  }